$ScriptFont : 'Pacifico', cursive;
$SansFont : 'Open Sans', sans-serif;
$LightestPink : #F3E3FC;
$LightPink : #C391DF;
$MediumPink : #A467C5;
$DarkPink : #5B1C7E;
$Biggest : 2em;
$Medium : 1.3em;

body {
  color: $LightestPink;
  text-align: center;

  h1 {
    font-family: $ScriptFont;
    color : $DarkPink;
    font-size: $Biggest;
    }
}

/*header*/

header {
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  background-color: $LightPink;
  top: 0;
  margin-bottom: 50px;
  height: 100px;

    .logo-group{
      display: inline-flex;
      padding: 10px 50px;

        img {
          width: 60px;
          height: 84px;
        }
      }
    nav {
      display: inline-flex;
      align-items: center;
      width: 800px;

        a {
          color: $DarkPink;
          font-size: $Medium;
          font-family: $SansFont;
          padding: 20px;
          text-decoration: none;
          align-items: center;
          display: block;

          &:hover {
            background-color: $DarkPink;
            color: $LightPink;
            border-radius: 20px;
            transition: background-color 0.15s linear 0.05s;
            transition: color 0.15s linear 0.01s;
          }
        }
    }
  }

/*Image banner */

.ImageBanner {
  position: relative;
  align-content: center;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

    .Images{
      width: 1600px;
    }

    .MainImage {
      width: 700px;
      overflow: hidden;
      margin: 50px;

      img{
        width: 600px;
    }
  }
.Side {
  width: 700px;
  align-content: center;
}
  .SideImages {
    display: flex;
    align-content: center;
    padding: 2%;

    img{
      display: inline-flex;
      width: 200px;
      height : 180px;
      align-content: center;
      padding: 3% 10%;

      &:hover {
        transform: scale(1.3);
        transition: 1s ease;
      }
  }
}
}

/*intro*/

.intro {
  position: relative;
  display: block;
  width: 100%;
  background-color: $LightPink;
  padding: 10px;

  .IntroText {
    font-family: $SansFont;
    text-align: center;
    position: relative;
    width: 100%;
    line-height: 1.8;
  }
}
